body.dark .nav-a-list {
  color: var(--black);
}

body.dark header,
body.dark main {
  background-color: #e4e2e2;
}


body.dark .hero {
  background: rgb(228, 226, 226);
  background: linear-gradient(0deg,
      rgba(228, 226, 226, 1) 97%,
      rgba(156, 156, 156, 1) 99%);
}

body.dark h1,
body.dark h3 {
  color: var(--black);
}

.hero_sociais {
  display: flex;
  flex-direction: column;

  margin-top: 300px;
}

body.dark #img_social {
  color: var(--black);
}

body.dark #img_social:hover {
  color: var(--color-blue);
}


body.dark a {
  color: var(--black);
}

body.dark .btn-cv {
  color: var(--color-blue);
}

body.dark .btn-cv:hover  {
  background-color: #0056b3;
  color: var(--white);
}

@media (max-width: 768px) {
  body.dark .nav-list { 
    background-color: var(--white);
  }

  body.dark .hamburger {
    border-top: 3px solid var(--black); /* Cor das barras no modo escuro */
  }
  
  body.dark .hamburger::before,
  body.dark .hamburger::after {
    background-color: var(--black); /* Cor das barras no modo escuro */
  }
  
}