*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  -webkit-transition: .4s;
  transition: .4s;
  background: var(--black);

}

.header {
  padding-inline: 1.6rem;
}

.nav {
  max-width: 128.0rem;
  height: 7.0rem;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 6.8rem;
  list-style: none;
}


.nav-list a {
  display: flex;
  font-size: 1.5rem;
  color: var(--color--text-a);
  padding-block: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  text-transform: uppercase;
  position: relative;
  font-family: 'Montserrat';
  font-weight: 400;
}

.nav-list a::before {
  content: '';
  position: absolute;
  bottom: .5rem;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-blue);
  transition: width .5s;
}

.nav-list a:hover::before {
  width: 100%;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid var(--white);
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: " ";
  display: block;
  width: 3.0rem;
  height: 3px;
  background-color: var(--white);
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

.dark {
  background: var(--dark);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background: linear-gradient(180deg, rgba(101, 99, 99, 1) 0%, rgba(21, 16, 16, 1) 2%);
}

.hero_text {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Shrikhand", serif;
  font-size: 4.0rem;
  height: 8.0rem;
  color: var(--color-blue);
  margin-left: 5.9rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 7.0rem;
  color: var(--white);
  margin-left: 5.6rem;
}

.hero_text_info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: var(--white);
  padding-top: 15px;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--white);
}

.hero_img {
  margin: 19.0rem 20.0rem 20.0rem 0;
  background-size: cover;
}

.perfil {
  width: 35.0rem;
  height: 32.3rem;
  border-radius: 50%;
}

.hero-sociais-img {
  display: flex;
  flex-direction: column;
  position: fixed;
}

#img_social {
  color: var(--white);
  width: 5.0rem;
  height: 5.0rem;
  margin-left: 2.0rem;
  transition: color 0.2s ease-in-out;
}

#img_social:hover {
  color: var(--color-blue);
}

.hero_text_info #img_social {
  height: 3.0rem;
  margin-left: 3.8rem;
}

.fa-whatsapp:before,
.fa-envelope:before {
  margin-left: 2.5rem;
}

.btn-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.0rem 0 0 6.5rem;
  padding: 1.0rem 2.0rem;
  width: 20.0rem;
  background-color: transparent;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  border-radius: 5px;
  gap: 2.0rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-cv:hover {
  background-color: #0056b3;
  color: var(--white);
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
    max-width: 480px;
  }

  .hamburger {
    border-top: 3px solid var(--white);
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 50vw;
    height: 50.5rem;
    border-radius: 15px;
    background: #ffffff;
    clip-path: circle(20px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 1.6rem;
    color: var(--black);
    opacity: 0;
  }

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 480px;
    height: 100vh;
  }

  .hero-sociais-img {
    display: none;
  }

  .hero_img {
    display: flex;
    justify-content: center;
    margin: 120px auto;
    width: 150px;
    height: 150px;
  }

  .perfil {
    width: 200px;
    height: 200px;
    margin: 0;
  }

  h1 {
    font-size: 40px;
    margin: 0;
  }

  h2 {
    font-size: 22px;
    margin: 0;

  }

  #img_social {
    margin-top: 8px;
  }

  a {
    font-size: 14px;
    display: flex;
    margin: 0;
  }

  .hero_text {
    height: 0px;
    align-items: center;
  }

  .hero_text_info {
    display: flex;
    margin: 5px 55px 0 0;
  }

  .btn-cv {
    margin: 0;
  }
}