:root{
    
    --black: #151010;
    --white: #F1F1F1;

    --sun: #ffd700;
    --sun-shadow: #987416;
    --moon: #dddddd;
    --moon-shadow: #808080;
    --star: #ffffff;
    --cloud: #ffffff;
    --crater: #535370;
    --shadow-01: #80808077;
    --shadow-02: #ffffff22;
    --shadow-03: #555555;
    --white: #ffffff;
    --background-day: linear-gradient(skyblue, cadetblue);
    --background-night: linear-gradient(-45deg, #222, #000030);
    --color-blue: #327FC5;
    --color--text-a: #e0e0e0;
  }